.footer {
    background-color: #E5E5E5;
    font-family: 'Roboto Mono';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80px;
    padding: 10px;
}
.top{
    font-size: 20px;
}

.footer > div {
    margin: 5px 0;
}

@media (max-width: 600px) {
    .footer {
        height: auto; 
        padding: 20px 10px;
        font-size: 14px;
    }

    .footer > div {
        text-align: center; 
        margin: 10px 0;
    }
}
